################################################################################
#
#   File patterns for git to ignore
#
################################################################################

# Eclipse project files
.project
.pydevproject
.settings/*

# C-Compiled scripts
*.pyc

*.ipynb_checkpoints